[
  { mondemand_server,
    [
      % LWES address and port to listen on, if UDP use address "0.0.0.0"
      { listener, {"0.0.0.0",27572} },

      % dispatch list, each event listed is sent to the list of modules
      { dispatch,
        [
          % catch all, all events are sent to this one unless it's empty
          { "*",                   [ mondemand_backend_all_journaller ] },
          { "MonDemand::PerfMsg",  [ mondemand_backend_perf_riak ] }
        ]
      },
      { mondemand_backend_all_journaller,
        [
          % the directory to store journals
          { root, [ "tmp","data","journals"] },
          % the prefix for journals
          { name, "all_events" },
          % the interval to rotate journal files
          { interval, 3600 }
        ]
      },
      { mondemand_backend_perf_riak,
        [
          { worker_mod, mondemand_backend_perf_riak },
          { host, "127.0.0.1" },
          { port, 8087 },
          { index_file, "conf/indexes.config" },
          { index_file_check_interval, 60 },
          { dispatch,
            [
              { [ "admin", type, action ],
                mondemand_backend_perf_riak_resource, [] },
              { [ "index", '*' ],
                mondemand_backend_perf_riak_resource, [] },
              { [ "trace", id ],
                mondemand_backend_perf_riak_resource, [] }
            ]
          }
        ]
      },
      % config for web server
      { web,
        [ { ip, "0.0.0.0" }, % bind to all interfaces
          { port, 26662 },   % port to bind on
          { log_dir, "tmp/data/httpd/logs" },
          { dispatch,
            [
              {["tools", '*'],
                mondemand_server_fs_resource, [ {root, "priv/www" } ] },
              {["data", '*'],
                mondemand_server_fs_resource, [ {root, "tmp/data"} ] },
              {["tcp"],
                mondemand_http_resource, [] }
            ]
          }
        ]
      }
    ]
  },
  { mondemand, [ { lwes_channel, { "127.0.0.1", 27572 } } ] }
].
